* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.boxForButton {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
/* /* 
.button-start {
  margin: 10px;
  cursor: alias;
}

.button-stop {
  margin: 10px;
} */

.button-start,
.button-stop {
  width: 130px;
  height: 40px;

  border-radius: 5px;
  padding: 10px 25px;
  font-size: 18;

  border: 3px solid;
}

#datetime-picker {
  display: flex;
  margin: auto;
}

.box-for-button {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.timer {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.field {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
}
